* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 50px;
    margin-top: 50px;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    width: 90vw;
    display: grid;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

div {
    width: 350px;
    height: 100px;
    font-family: sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    color: white;
    background: rgb(7,0,36);
    background: linear-gradient(90deg, rgba(7,0,36,1) 0%, rgba(9,121,120,1) 35%, rgba(0,212,255,1) 100%);
}

a {
    text-decoration: none;
}

@media(max-width: 768px) {
    section {
        width: 95vw;
    }
    div {
        width: 90vw;
        height: 70px;
    }
}